.button-container {
  position: absolute;
  filter: drop-shadow(0px 0px 3px #565656);
  color: rgba(0, 0, 0, 0.547);
  font-size: 50px;
  display: flex;
  transform: translateY(-50%);
  top: 45%;
}

.button-container.left {
  left: 20px;
}

.button-container.right {
  right: 20px;
}