.container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.6s ease-in;
  transform: translateX(-75%);
  position: relative;
}
.slider-container.isSlide {
  transition: none;
}
.slider-container.isSlide.next {
  transform: translateX(-28%);
}
.slider-container.isSlide.prev {
  transform: translateX(-50%);
}

.slider-container img {
  position: relative;
  width: 50%;
  padding: 0 7px;
  object-fit: cover;
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
}
.slide.slide-hidden {
  display: none;
}

@media (max-width: 1444px) {
  .container {
    max-width: 100%;
  }
  .slider-container img {
    width: 50%;
    height: auto;
  }
  .button-container.left {
    font-size: 40px;
    left: 15px;
  }
  .button-container.right {
    font-size: 40px;
    right: 15px;
  }

  .dot{
    margin: 0 12px;
    height: 11px;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 100%;
  }

  .slider-container img {
    width: 50%;
    height: auto;
    padding: 0 4px;
  }
  .button-container.left {
    font-size: 30px;
    left: 15px;
  }
  .button-container.right {
    font-size: 30px;
    right: 15px;
  }

  .dots{
    margin-top: 10px;
  }

  .dot{
    height: 6px;
    margin: 0 6px;
  }
}

@media (max-width: 428px) {
  .container {
    max-width: 100%;
  }

  .slider-container {
    display: flex;
    transform: translateX(-103%);
    position: relative;
  }

  .slider-container.isSlide {
    transition: none;
  }
  .slider-container.isSlide.next {
    transform: translateX(-20%);
  }
  .slider-container.isSlide.prev {
    transform: translateX(-60%);
  }

  .slider-container img {
    width: 100%;
    height: auto;
    padding: 0 4px;
  }
  .button-container.left {
    font-size: 25px;
    left: 15px;
  }
  .button-container.right {
    font-size: 25px;
    right: 15px;
  }

  .dots{
    margin-top: 7px;
  }

  .dot{
    height: 5px;
    width: 6px;
    margin: 0 4px;
    padding: 0 2px;
  }
}
